<div class="product-features__item{% if idx == 1 %} active{% endif %}" data-aos data-num="{{ idx }}">
  <div class="product-features__column left size--3 hide-mobile">
    <button class="product-features__feature active" data-num="1">
      <div class="product-features__feature-icon">
        {% render 'icon-safe-sleep-approved' %}
        {% render 'svg-arrows-6-feature' num: 1 %}
      </div>
      <p class="label-2">Safe Sleep Approved</p>
    </button>
    <button class="product-features__feature" data-num="2">
      <div class="product-features__feature-icon">
        {% render 'icon-grows-with-your-baby' %}
        {% render 'svg-arrows-6-feature' num: 2 %}
      </div>
      <p class="label-2">Grows With Your Baby</p>
    </button>
    <button class="product-features__feature" data-num="3">
      <div class="product-features__feature-icon">
        {% render 'icon-modern-premium-design' %}
        {% render 'svg-arrows-6-feature' num: 3 %}
      </div>
      <p class="label-2">Modern, Premium Design</p>
    </button>
  </div>
  <div class="product-features__image">
    <div class="product-features__image-container">
      {% render 'lazy-image' image: current_image, classes: 'img-fill product-image', fade: true %}

      <div class="product-features__badge-groups-wrapper">
        <div class="product-features__badge-groups product-features__badge-groups--{{ idx }} swiper">
          <div class="swiper-wrapper">
            <div class="product-features__badge-group size--4 swiper-slide" data-num="1">
              {% render 'svg-feature-badges' feature: 'safety-first' %}
              {% render 'svg-feature-badges' feature: 'jpma-certified' %}
              {% render 'svg-feature-badges' feature: 'exceeds-astm-cpsia-standards' %}
              {% render 'svg-feature-badges' feature: '3-adjustable-mattress-heights' %}
            </div>
            <div class="product-features__badge-group size--3 swiper-slide" data-num="2">
              {% render 'svg-feature-badges' feature: '3-adjustable-mattress-heights' %}
              {% render 'svg-feature-badges' feature: 'fully-adaptable' %}
              {% render 'svg-feature-badges' feature: 'toddler-rail-available' %}
            </div>
            <div class="product-features__badge-group size--4 swiper-slide" data-num="3">
              {% render 'svg-feature-badges' feature: 'premium-highend-materials' %}
              {% render 'svg-feature-badges' feature: 'fully-adaptable' %}
              {% render 'svg-feature-badges' feature: 'minimalist-design' %}
              {% render 'svg-feature-badges' feature: '3-adjustable-mattress-heights' %}
            </div>
            <div class="product-features__badge-group size--2 swiper-slide" data-num="4">
              {% render 'svg-feature-badges' feature: 'sustainably-harvested-wood' %}
              {% render 'svg-feature-badges' feature: 'non-toxic-lead-phthalate-free-paint' %}
            </div>
            <div class="product-features__badge-group size--2 size--2-alt swiper-slide" data-num="5">
              {% render 'svg-feature-badges' feature: 'matching-changing-table' %}
              {% render 'svg-feature-badges' feature: 'toddler-rail-available' %}
            </div>
            <div class="product-features__badge-group size--3 swiper-slide" data-num="6">
              {% render 'svg-feature-badges' feature: 'sustainably-harvested-wood' %}
              {% render 'svg-feature-badges' feature: 'premium-highend-materials' %}
              {% render 'svg-feature-badges' feature: 'fully-adaptable' %}
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="{{ current_product.url }}" class="button hide-mobile">Shop&nbsp;&nbsp;·&nbsp;&nbsp;{% if current_product.compare_at_price > current_product.price %}<strike>{{ current_product.compare_at_price | money_without_trailing_zeros }}</strike> {% endif %}{{ current_product.price | money_without_trailing_zeros }}</a>
  </div>
  <div class="product-features__column right size--3 hide-mobile">
    <button class="product-features__feature" data-num="4">
      <div class="product-features__feature-icon">
        {% render 'icon-non-toxic-materials' %}
        {% render 'svg-arrows-6-feature' num: 4 %}
      </div>
      <p class="label-2">Non-Toxic Materials</p>
    </button>
    <button class="product-features__feature" data-num="5">
      <div class="product-features__feature-icon">
        {% render 'icon-matching-nursery-furniture-available' %}
        {% render 'svg-arrows-6-feature' num: 5 %}
      </div>
      <p class="label-2">Matching Nursery Furniture Available</p>
    </button>
    <button class="product-features__feature" data-num="6">
      <div class="product-features__feature-icon">
        {% render 'icon-built-to-last' %}
        {% render 'svg-arrows-6-feature' num: 6 %}
      </div>
      <p class="label-2">Built To Last</p>
    </button>
  </div>

  <div class="product-features__mobile-slider swiper">
    <div class="swiper-wrapper">
      <div class="product-features__feature swiper-slide" data-num="1">
        <div class="product-features__feature-icon">
          {% render 'icon-safe-sleep-approved' %}
        </div>
        <p class="label-2">Safe Sleep Approved</p>
      </div>
      <div class="product-features__feature swiper-slide" data-num="2">
        <div class="product-features__feature-icon">
          {% render 'icon-grows-with-your-baby' %}
        </div>
        <p class="label-2">Grows With Your Baby</p>
      </div>
      <div class="product-features__feature swiper-slide" data-num="3">
        <div class="product-features__feature-icon">
          {% render 'icon-modern-premium-design' %}
        </div>
        <p class="label-2">Modern, Premium Design</p>
      </div>
      <div class="product-features__feature swiper-slide" data-num="4">
        <div class="product-features__feature-icon">
          {% render 'icon-non-toxic-materials' %}
        </div>
        <p class="label-2">Non-Toxic Materials</p>
      </div>
      <div class="product-features__feature swiper-slide" data-num="5">
        <div class="product-features__feature-icon">
          {% render 'icon-matching-nursery-furniture-available' %}
        </div>
        <p class="label-2">Matching Nursery Furniture Available</p>
      </div>
      <div class="product-features__feature swiper-slide" data-num="6">
        <div class="product-features__feature-icon">
          {% render 'icon-built-to-last' %}
        </div>
        <p class="label-2">Built To Last</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <a href="{{ current_product.url }}" class="button hide-desktop">Shop&nbsp;&nbsp;·&nbsp;&nbsp;{% if current_product.compare_at_price > current_product.price %}<strike>{{ current_product.compare_at_price | money_without_trailing_zeros }}</strike> {% endif %}{{ current_product.price | money_without_trailing_zeros }}</a>
</div>