<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Google Tag Manager -->
<script>
    window.dataLayer = window.dataLayer || [];
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMBQ7RR');</script>
<!-- End Google Tag Manager -->
<!-- Begin: Northbeam pixel -->
<script async type="text/javascript" src="//j.northbeam.io/ota-sp/c759b3fe-c05e-4864-bd08-b24cb1c3f793.js"></script>
<!-- End: Northbeam pixel -->
<!-- Begin BlackCrow Script Tag: DO NOT MODIFY! -->
     <script type="text/javascript" async src="https://shopify-init.blackcrow.ai/js/core/nurtureand.js?shopify_app_version=1.0.84&shop=nurtureand.myshopify.com"></script>
<!-- End BlackCrow Script Tag -->
<!-- Begin Meta Domain Verification Tag -->   
<meta name="facebook-domain-verification" content="wy2uepmt9a7068zdroyzfg28nw5cd6" />
<!-- End Meta Domain Verification Tag --> 
{% render 'pagefly-head' %}
{% include 'limespot' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin> 

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
	<script src="https://cdn.intelligems.io/e35ab66930bd.js"></script>
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'aos.min.js' | asset_url }}" defer="defer"></script> 
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <!-- <script src="{{ 'customHoverCarrousel.js' | asset_url }}" defer="defer"></script> -->
 
    {{ content_for_header }}

    {% style %}
      /* Fonts */
      /* Beirut Display - Light */
      @font-face {
        font-family: beirut-display;
        src: url("{{ 'BeirutDisplayWeb-Light.woff2' | asset_url }}") format('woff2'),
            url("{{ 'BeirutDisplayWeb-Light.woff' | asset_url }}") format('woff');
        font-weight: 400;
        font-style: normal;
      }

      :root {
        /* Colors */
        --navy: #344E62;
        --navy-light: #344E62;
        --blue: #9DBAE5;
        --green: #A2A884;
        --orange: #DC9D70;
        --sand: #ECE8DE;
        --cream: #F8F7F3;
        --field: #FCFBF8;
        --white: #FFFFFF;
        --beige: #CFC8BA;
        --grey: #3C4248;
    
        --color-base-text: {{ settings.colors_text }};
        --color-base-text-rgb: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_1 }};
        --color-base-background-1-rgb: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels }};
        --color-base-solid-button-labels-rgb: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
        --color-base-outline-button-labels: {{ settings.colors_outline_button_labels }};
        --color-base-outline-button-labels-rgb: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
        --color-base-accent-1: {{ settings.colors_accent_1 }};
        --color-base-accent-1-rgb: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        --color-base-accent-2: {{ settings.colors_accent_2 }};
        --color-base-accent-2-rgb: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        color: {{ settings.text_color }};
        background: {{ settings.background_color }};
      }

      a {
        color: {{ settings.text_color }};
        text-decoration: none;
      }

      button {
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
        color: inherit;
      }

      @media screen and (min-width: 769px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {% comment %} CHANGE THIS LINK {% endcomment %}
    <link rel="stylesheet" href="https://use.typekit.net/kgv4vyp.css">
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'aos.min.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <script type="text/javascript">
      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/P3ppHFODI45UdcU4EDf74Cb6VxZcPOF3xSEqzmsq/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    {% include 'yotpo-script' %}

    <!-- Hotjar Tracking Code for www.nurtureand.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2106695,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{% render 'analyzify-product-datalayer.liquid' %}
  </head>

  <body class="{% if template.directory %}template-{{ template.directory | handle }} {% endif %}template-{{ template.name | handle }}{% if page.handle %} page-{{ page.handle }}{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>
    

    <div class="page-overlay"></div>

    <div class="sticky-header">
      {% section 'announcement-bar' %}
      {% section 'header' %}
    </div>

    {%- if template != 'cart' -%}
      {% section 'cart-drawer' %}
    {%- endif -%}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
<limespot></limespot>
    </main>

    {% section 'footer' %}
    {% section 'newsletter-popup' %}
    {% section 'legal-popup' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>
    
    <!--Gorgias Chat Widget Start-->
    <script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=6388"></script>
    <!--Gorgias Chat Widget End-->

  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
{% include 'adroll' %}
{% include 'adroll' %}
</body>
</html>
