{{ 'section-product-bar.css' | asset_url | stylesheet_tag }}

<div class="product-bar__form">
  <div class="page-width">
    <div class="product-bar__form-container">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
      <div class="product-bar__form-container-left">
        <h2 class="sh2">{{ product.title }}</h2>
        {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'sh2' -%}
        <variant-radios class="no-media-switch no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}

            {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- assign variant_option = 'option' | append: forloop.index -%}

              <fieldset class="js product-form__input{% if color_label contains downcase_option %} product-form__color-swatches{% endif %}"> 
                {% comment %}
                  <legend class="form__label">{{ option.name }}</legend>
                {% endcomment %}

                <div class="product-form__variant-container">
                  <div class="product-form__variant-list">
                    {%- for value in option.values -%}

                      {%- assign current_variant = '' -%}

                      <!-- Find colors within variants -->
                      {% for variant in product.variants %}
                        {%- if variant[variant_option] == value -%}
                          {%- assign current_variant = variant -%}
                          {%- assign active_color = value -%}
                        {%- endif -%}
                      {% endfor %}

                      {%- assign color_swatch_name = value | handleize | append: '.jpg' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="product-form-{{ section.id }}"
                            data-name="{{ active_color }}"
                            {% if option.selected_value == value %}checked{% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"{% if color_label contains downcase_option %} style="background-image: url({{ color_swatch_image | img_url: '20x20' }});"{% endif %}>
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </div>

                  {% if color_label contains downcase_option %}
                    <div class="product-form__variant-active">
                      <p class="body-4 medium caps">{{ product.selected_or_first_available_variant[variant_option] }}</p>
                    </div>
                  {% endif %}

                </div>
              </fieldset>
          {%- endfor -%}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios>
      </div>
      <div class="product-bar__form-container-right">
        <!-- CHANGE -->
        {% if product.type == 'Seating' %}
        <div class="freeswatch__atc btn swatch-link">Try a Swatch</div>
        {% endif %}
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <div class="product-form__buttons">

              <div class="product-form__qty-btn">
                <div class="product-form__input product-form__quantity">
                  <quantity-input class="quantity">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus' %}
                    </button>
                    <input class="quantity__input btn"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        min="1"
                        value="1"
                        form="product-form-{{ section.id }}"
                      >
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
                <button
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                >
                    {%- if product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                </button>
              </div>

              {%- if block.settings.show_dynamic_checkout -%}
                {{ form | payment_button }}
              {%- endif -%}
            </div>
          {%- endform -%}
        </product-form>
      </div>
    </div>
  </div>
</div>
<div class="product-bar__nav no-scrollbar">
  <div class="product-bar__nav-wrapper">
    <div class="product-bar__nav-container">
      {% for block in section.blocks %}
        <button class="nav" data-section="{{ block.settings.title | handleize }}">{{ block.settings.title }}</button>
      {% endfor %}
    </div>
  </div>
</div>

{% javascript %}
  // Move main nav on scroll
  var topPoint = $('.product').offset().top + $('.product').outerHeight();
  var point = topPoint - $('.product-bar').outerHeight();

  $(window).scroll(function() {
    if ($(window).scrollTop() > point) {
      $('.sticky-header').css('transform', 'translateY(-100%)');
      $('.product-bar').addClass('active');
    } else {
      $('.sticky-header').css('transform', 'translateY(0)');
      $('.product-bar').removeClass('active');
    }
  });

  // Make links active on scroll
  var $links = $('.product-bar__nav-container button');
  var navHeight = $('.product-bar').outerHeight();
  $(window).scroll(function() {
    var fromTop = $(window).scrollTop();

    $links.each(function(i, link) {
      var sectionName = $(link).data('section');
      var $section = $(`.product-section[data-section="${sectionName}"]`);
      
      if (
        ($section.offset().top - navHeight) <= fromTop &&
        ($section.offset().top - navHeight) + $section.outerHeight() > fromTop
      ) {
        $(link).addClass('active');
      } else {
        $(link).removeClass('active');
      }
    });
  });

  // Scroll to link
  $('.product-bar__nav-container button').click(function(e) {
    e.preventDefault();
    var section = $(this).data('section');

    $('html, body').animate({
      scrollTop: $(`.product-section[data-section="${section}"]`).offset().top - navHeight + 5
    }, 500);
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Product Bar",
    "class": "product-bar",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "nav_item",
        "name": "Nav Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Bar"
      }
    ]
  }
{% endschema %}